.speech-bubble {
  fill: white;
  stroke: black;
  stroke-width: 4;
  stroke-linejoin: bevel;
  vector-effect: non-scaling-stroke;
}

.speech-bubble-content {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 1px;
  text-align: center;
  font-size: clamp(12px, 2vw, 32px);
  font-weight: bold;
  font-style: italic;
  color: black;
}

.speech-bubble-content p {
  font-family: 'Arial Black', Arial, sans-serif;
}